<div #navbar id="nav-bar" class="surface-overlay px-3 sm:px-6 flex align-items-stretch relative sticky z-5"
     style="min-height: 80px;">
  <a pRipple class="cursor-pointer flex align-items-center lg:hidden text-700 mr-3 sm:mr-5" pStyleClass="#nav-1"
     enterClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
    <i class="pi pi-bars text-4xl"></i>
  </a>
  <div class="flex align-items-center justify-content-center pointer" [routerLink]="['']">
    <img src="assets/images/metamask-seeklogo.com.svg" alt="Image" class="lg:mr-6 h-2rem sm:h-3rem">
  </div>
  <div class="flex ml-auto">
    <ul class="list-none p-0 m-0 flex w-full" style="min-height:30px;">
      <li class="flex flex-auto lg:flex-initial justify-content-center">
        <a pRipple
           class="text-900 font-medium inline-flex align-items-center cursor-pointer px-2 sm:px-3 text-700 hover:text-primary">
          <p-button label="Connect wallet" (onClick)="connectMetamask()"></p-button>
        </a>
      </li>
    </ul>
  </div>
</div>
